
@{
    ViewBag.Title = "Adaugare angajati";
}

<h2>Adaugare angajati</h2>
<p>Pentru adaugarea unui angajat este necesara completarea tuturor casetelor. Daca exista o poza de profil, aceasta se poate incarca.</p>
<div class="container-fluid" style=" border: solid 1px #dde0de; border-radius: 10px; padding: 30px;">
    <div class="row align-center">
        <div class="col-md-6">
            <form id="employee-form" role="form">
                <div class="form-group">
                    <label for="nume">Nume:</label>
                    <input type="text" class="form-control" id="nume">
                </div>
                <div class="form-group">
                    <label for="prenume">Prenume:</label>
                    <input type="text" class="form-control" id="prenume">
                </div>
                <div class="form-group">
                    <label for="functie">Functie:</label>
                    <input type="text" class="form-control" id="functie">
                </div>
                <div class="form-group">
                    <label for="salariu">Salariu de baza:</label>
                    <input type="number" class="form-control" id="salariu">
                </div>
                <div class="form-group">
                    <label for="spor">Spor:</label>
                    <input type="number" class="form-control" id="spor">
                </div>
                <div class="form-group">
                    <label for="premii">Premii brute:</label>
                    <input type="number" class="form-control" id="premii">
                </div>
                <div class="form-group">
                    <label for="retineri">Retineri:</label>
                    <input type="number" class="form-control" id="retineri">
                </div>
                <div class="form-group">
                    <label for="poza">Poza de profil</label>
                    <input type="file" class="form-control-file" id="poza" />
                </div>
                <div class="form-group" style="justify-content:center">
                    <button type="submit" class="btn btn-primary">Adauga</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 text-center">
            <img class="vector-images" alt="Add emplyee image" src="~/Images/add_emplyee.jpg" />
        </div>
    </div>
</div>
