<h2>Fluturasi</h2>
<p></p>
<div class="container-fluid" style=" border: solid 1px #dde0de; border-radius: 10px; padding: 30px;">
    <a href="">Previzualizare</a>
    <a href="">Download PDF</a>
</div>