@{
    ViewBag.Title = "Home Page";
}
<div class="row align-center" style="height:500px">
    <div class="col-md-6">
        <h2>Website simplu pentru calcularea salariilor angajatilor</h2>
        <p>
            Prin intermediul aplicatiei poti calcula salariile angajatilor, poti adauga angajati noi, sterge din cei vechi si poti actualiza datele celor existenti.
        </p>
        <p>
            @Html.ActionLink("Adaugare angajati", "AdaugareAngajati", "Home", null, new { @class = "btn btn-primary btn-large" })
            @Html.ActionLink("Gestionare angajati", "GestionareAngajati", "Home", null, new { @class = "btn btn-primary btn-large" })
        </p>
    </div>
    <div class="col-md-6 text-center">
        <img class="vector-images" src="~/Images/home.jpg" alt="Home image" />
    </div>
</div>