@model CrystalDecisions.CrystalReports.Engine.ReportDocument

<h2>Tiparire stat de plata</h2>
<p></p>
<div class="container-fluid" style=" border: solid 1px #dde0de; border-radius: 10px; padding: 30px;">
    <a href="@Url.Action("StatDePlataViewer")">Previzualizare</a>
    <a href="@Url.Action("StatDePlataPDF")">Download PDF</a>
</div>
