@model Proiect_TI.Models.EmployeeViewModelSet

<h2>Tiparire stat de plata</h2>
<p></p>
<div class="container-fluid" style=" border: solid 1px #dde0de; border-radius: 10px; padding: 30px;">
    <div class="row align-center">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>

