
@{
    ViewBag.Title = "StergereAngajati";
}
<h2>Stergere angajati</h2>
<div class="container-fluid">
    <div class="row align-center">
        <div class="col-md-6">
            <form id="search-form" role="form">
                <div class="form-group" style="justify-content:space-around">
                    <label for="search-name-input">Nume angajat:</label>
                    <input type="text" class="form-control" id="search-name-input">
                    <button type="submit" class="btn btn-primary">Cauta</button>
                </div>
            </form>
            <div class="container" style="overflow:scroll;max-width:100%; height:500px;">
                <table class="table table-bordered">
                    <thead> 
                        <tr>
                            <th>
                                Nr.Crt
                            </th>
                            <th>
                                Nume
                            </th>
                            <th>
                                Prenume
                            </th>
                            <th>
                                Functie
                            </th>
                            <th>
                                Salar
                            </th>
                            <th>
                                Spor
                            </th>
                            <th>
                                Premii brute
                            </th>
                            <th>
                                Total brut
                            </th>
                            <th>
                                Brut impozitabil
                            </th>
                            <th>
                                Impozit
                            </th>
                            <th>
                                CAS
                            </th>
                            <th>
                                CASS
                            </th>
                            <th>
                                Retineri
                            </th>
                            <th>
                                Virat card
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img class="vector-images" alt="Add emplyee image" src="~/Images/delete_employee.jpg" />
        </div>
    </div>
</div>
